.yourProject{
    color: gray;
    font-size: 14px;
    margin: 10px    ;
    
}
.projectTime{
    color: gray;
    font-size: 10px;
    margin: 10px    
}
.post-container{
    
    box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 15;
    padding: 30px;
}
.post-border{
    border: 1px solid rgb(225, 223, 223) !important;
    border-radius: 19px;
    padding: 20px;
}