.yourProject{
    color: gray;
    font-size: 14px;
    margin: 10px    ;
    
}
.projectTime{
    color: gray;
    font-size: 10px;
    margin: 10px    
}
.post-container{
    
    box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 15;
    padding: 30px;
}
.post-border{
    border: 1px solid rgb(229, 228, 228) !important;
    border-radius: 19px;
    padding: 20px;
}
.projectStatus{
    color: red;
    font-size: 10px;
    margin: 10px;
    font-weight: 500; 
}
.yourProjectStatus{
    color:black;
    font-size: 10px;
    margin: 10px;
    font-weight: 500; 
}
