.yourProject{
    color: gray;
    font-size: 14px;
    margin: 10px    ;
    
}
.projectTime{
    color: gray;
    font-size: 10px;
    margin: 10px    
}
.post-container{
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 15px;
}