.modal__header,
.modal__footer {
    height: 70px;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
   
}
.modal__content,
.modal__footer,.modal__header {
    position: absolute;
    width: 100%;
}
.modal__content {
    padding: 20px;
    bottom: 70px;
    top: 70px;
    overflow-y: auto;
}
.modal__footer {
    bottom: 0;
}
.modal {
  
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal.open {
 display: block;
}
.modal-footer{
  position: fixed;
  bottom: 0;
}

.pressEnter{
  position: relative;
  top:45px;
  left:40px;
  font-size: 12px;
  color: gray;
  border: none;
}
textarea:focus{
  outline: red;
}
.comment-form textarea::placeholder{
  margin-right: 20px;
  position: relative;
  left: 10px;
  top: 5px;
  color: gray;
  font-size: 15px;
}

.modal-footers{
  position: absolute;
  height: 80px;
}

.modal-title{
  position: relative;
  top: 20px;
}
.modal-footer--sticky {
    position: sticky;
    top: 100px;

    background-color: white;
    z-index: 1055;
    height: 80px;
   
  }
 


  .modal-header--sticky {
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    z-index: 1055;
    background-color: white;
  }  
.test{
  background-color: pink;
  position: sticky;
}
  .modal-stick{
    position: absolute;
  }


  .contentModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 1rem 2rem;
  }


  .placer{
    height: 300px;
    width: 100%;
  }


  .postDescription{
    color: black;
    font-size: 20px;
  }