



.commentsSection{
    position: relative;
    
    width: 110%;
    height:10 0px;
    
    display: flex;
    align-items: center;
   
}
.comment-form{
    display: flex;
    align-items: center;
 
}


.comment-input {
   
   
    border: none;
    border-radius: 50px;
    resize: none;
    background-color: #f0f2f5;
    width: 90%;
    left: 7px;
    
    bottom: -4px;
    margin: 30px;
    position: absolute;
    height: 35px
  }
 textarea:focus{  
  border-color: #3B5998;
 }
 .comment-input:focus{

  border: none;
 
 } 
  .comment-btn {
 
    position: relative;
    background-color: #4267B2;
    left: 450px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 0px;
    cursor: pointer;
  }
  
  .comment-btn:hover {
    background-color: #3B5998;
  }


  .comments {
    margin-bottom: 10px;
   

  }
  
.comment {
    background-color: #f0f2f5;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    width: 93%;
    
  }
  
.comment-author {
    font-weight: bold;
   
  }


.comments-container{
  position:absolute;
  
}  


  