



.commentsSection{
    position:fixed;
    bottom: 0px;
    width: 110%;
    height:10   0px;
    
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.comment-form{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    background-color: #f0f2f5;
  }
  
  .comment-btn {
    background-color: #4267B2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .comment-btn:hover {
    background-color: #3B5998;
  }


  .comments {
    margin-bottom: 10px;
   
    
  }
  
.comment {
    background-color: #f0f2f5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
.comment-author {
    font-weight: bold;
    margin-bottom: 5px;
  }
  