



.commentsSection{
    position: relative;
    
    width: 110%;
    height:10 0px;
    
    display: flex;
    align-items: center;
   
}

.comment .user-profile .comment-form{
    display: flex;
    align-items: center;
 
}


.comment-input {
   
   
    border: none;
    border-radius: 50px;
    resize: none;
    background-color: #f0f2f5;
    width: 90%;
    left: 7px;
    
    bottom: -4px;
    margin: 30px;
    position: absolute;
    height: 35px
  }
 textarea:focus{  
  border-color: #3B5998;
 }
 .comment-input:focus{

  border: none;
 
 } 
  .comment-btn {
 
    position: relative;
    background-color: #4267B2;
    left: 450px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 0px;
    cursor: pointer;
  }
  
  .comment-btn:hover {
    background-color: #3B5998;
  }


  .comments {
    margin-bottom: 10px;
    
    width: 500px;
   

  }
  
.comment {
    background-color: var(--comments_color);
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 10px;
    width: 90%;
    
  }
  
.comment-text{
  position: relative;
  top: 10px;
  bottom: 0px;
  color:  var(--black_contrast);
  margin-bottom: 40px;

}  
.comment-author {
    font-weight: bold;
    color: var(--black_contrast);
  }


.comments-container{
  position:absolute;
  
}  

/* 
.user-profile{
  display: flex;
  align-items: center;
 

}

.user-profile img{


}
.user-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
 
}
.user-profile small{
  font-size: 12px;
  
} */

.comment .user-profile .profile-pic{
  position: relative;
  top: 14px;
}
.user-profile .comment-author{
  color: var(--black_contrast);
}
.comment-time{
  position: relative;
  top: 16px;
  width: 100%;
}
.groupInfo{
  position: relative;
 
 
 
  display: flex;
  width: 100%;
  height: 20px;
  left: 12%;
 
}
#comments-count{
  color: gray;
  margin-right: 10px;
}
#view-comments{
  color: blue;
  
}
#view-comments:hover{
  cursor: pointer;
}
  