/* === CONVERSATIONS === */

.discussions {
    width: 35%;
    height: 700px;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: #87a3ec;
    display: inline-block;
  }
  
  .discussions .discussion {
    width: 100%;
    height: 90px;
    background-color: #FAFAFA;
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
    cursor: pointer;
  }
  
  .discussions .search {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
  }
  
  .discussions .search .searchbar {
    height: 40px;
    background-color: #FFF;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    display:flex;
    align-items: center;
    cursor: pointer;
  }
  
  .discussions .search .searchbar input {
    margin-left: 15px;
    height:38px;
    width:100%;
    border:none;
    font-family: 'Montserrat', sans-serif;;
  }
  
  .discussions .search .searchbar *::-webkit-input-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *:-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *::-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *:-ms-input-placeholder {
      color: #E0E0E0;
  }
  
  .discussions .message-active {
    width: 98.5%;
    height: 90px;
    background-color: #FFF;
    border-bottom: solid 1px #E0E0E0;
  }
  
  .discussions .discussion .photo {
      margin-left:20px;
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
  }
  
  .desc-contact {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .discussions .discussion .name {
    margin: 0 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 11pt;
    color:#515151;
  }
  
  .discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 9pt;
    color:#515151;
  }
  
  .timer {
    margin-left: 15%;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
  }
  
  .chat {
   
    height: 600px;
  }
  
  .header-chat {
    background-color: #FFF;
    height: 70px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    align-items: center;
  }
  
  .chat .header-chat .icon {
    margin-left: 30px;
    color:#515151;
    font-size: 14pt;
  }
  
  .chat .header-chat .name {
    margin:auto;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 10pt;
    color:#858585;
    text-align: center;
  }
  
  .chat .header-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .chat .messages-chat {
    padding: 25px 35px;
  }
  
  .chat .messages-chat .message {
    display:flex;

    margin-bottom: 0px;
  }
  

  
  .chat .messages-chat .text {
    margin: 0 5px;
    background-color: #F5F7FB;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 3px;   
    font-size: 13px;
    max-width: 350px;
  }

  .chat .messages-chat .text-from {
    margin: 0 5px;
    background-color: #f6f6f6;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 10px;    
    font-size: 13px;
    max-width: 350px;
  }

  .text span{
    color: gray;
    position: relative;
    bottom: 12px;
    font-size: 10px;
    float: right;
    margin-bottom: 10px;
  }
  
  .text-only {
    margin-left: 45px;
  }
  
  .time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:0px;
    margin-left: 55px; 
    position: relative;
    top: 10px; 
  }
.time-response {
    font-size: 10px;
    color:lightgrey;
 
    position: relative;
    top: 6px; 
  float: right  ;
  margin: 0px;
  right: 60px;
  }
  
  .response-time {
    float: right;
    margin-left: 30px !important;
  }
  
  .response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
    margin-bottom: 0px;
    height: 90px;
  }
  .response .profile-pic-message{
    float: right  ;
    margin: 0px;
   position: relative;
   bottom:48px;
   left: 60px;
  }
  
  .response .text-from {
    background-color: #4E426D !important;
    position: relative;
    color: white;
    right: 50px;
  }
  
  .footer-chat {
    width: calc(65% - 66px);
    height: 50px;
    display:flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    padding-top: 10px;
    background-color: transparent;
    border-top: 2px solid #EEE;
    
  }
  
  .chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
  }
  
  .chat .footer-chat .send {
    color:#fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
  }
  
  .chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#515151;
  }
  
  .chat .footer-chat .right {
    position: absolute;
    right: 40px;
  }
  
  .write-message {
    border:none !important;
    width:100%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
  }
  .sendMessage{
    position: relative;
    left: 55px;
    top:5px;
  }
  .footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
  }
  
  .clickable {
    cursor: pointer;
  }

  .message-footer--sticky {
    position: sticky;
    top: 100px;

    background-color: white;
    z-index: 1055;
    height: 80px;
   
  }

  .messages__content {
    position:absolute;
    width: 95.5%;
    padding: 20px;
    bottom: 70px;
    top: 70px;
    overflow-y: auto;
    background-color: #fbfafa;
   
}

.chat-title{
  text-align: center;
}

.typing{
  font-size: 9px;
  color: gray;
  margin-right: 10px;
}
.group-name{
  font-size: 10px;
  color: gray;
}

#member-name{
  float:left;
  color: gray;
  margin-right: 5px;
}