.status-main {
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;
    flex-wrap: wrap;
   }
   
   .status-textarea {
    flex-grow: 1;
    background-color: transparent;
  
    resize: none;
    margin-top: 15px;
    color: #fff;
    max-width: calc(40% - 20px);
    &::placeholder {
     color: #5c5d71;
    }
   }
   
   .status-actions {
    display: flex;
    padding: 10px 20px;
   }
   
   .status-action {
    text-decoration: none;
    color: #ccc8db;
    margin-right: 20px;
    display: flex;
    align-items: center;
    svg {
     width: 16px;
     flex-shrink: 0;
     margin-right: 8px;
    }
    @media screen and (max-width: 1320px) {
     width: 16px;
     overflow: hidden;
     color: transparent;
     white-space: nowrap;
    }
   }
   
   .status-share {
    background-color: #1b86f9;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: auto;
    box-shadow: 0 0 20px #1b86f9;
    cursor: pointer;
   }

/* input{
    width: 20%;
    margin: auto;
}    */

form label{
    color:rgb(163, 163, 163)
  }
  
.post-input-container-project{
    padding-left: 55px;
    padding-top: 20px;
}  
.post-input-container-project{
    padding-left: 0;

}
.write-post-container{
    border: 0 !important;
  
}
.create-from .form-input{
    width: 45%;
    display: inline;
    margin-right: 0px;
    margin-bottom: 7px;
    height: 30px;
    position: relative;
    right: 2px;
}
.create-from input::placeholder{
    font-size: 17px;
}
#textarea-create{
    width: 60%;
    margin: auto;
}
.max-input{
    display: inline;
    width: 14%;
    height: 30px;
}

#submitCreate{
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    left: 20%;
    right: 0px;
    width: 39%;
    margin-top: 10px;
}
.projectUpload{
    width: 20%;
    font-size: 14px;
    height: 40px;
    border-radius: 0px;
    position: relative;
    left: 21%;
    margin-top: 10px;
    background-color: #ec9b5e;
}
.formFooter{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 10;
}


.projectUpload::-webkit-file-upload-button {
    visibility: hidden;
  }

  .projectUpload::before {
    content: 'Image optional';
    display: inline-block;
  
  
  
    padding-top: 3px;
    color: white;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
  }  




  .projectUpload-project{
    width: 100%;
    font-size: 14px;
    height: 40px;
    border-radius: 0px;
    position: relative;
    left: 0%;
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #ec9b5e;
}
  
.projectUpload-project::-webkit-file-upload-button {
    visibility: hidden;
  }

  .projectUpload-project::before {
    content: 'Image optional';
    display: inline-block;
  
  
  
    padding-top: 3px;
    color: white;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
  }

  #submitCreate-project{
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    left: 0%;
    right: 0px;
    width: 100%;
    margin-top: 10px;
}

.max-input-project{
    display: inline;
   margin-bottom: 10px;
   margin-top: ;
}
.create-from .form-input-project{

   
    margin-bottom: 4px;
  
    position: relative;
    top: 16 px;
}

.createError{
    font-size: 13px;
    color: red;
    position: relative;
    top:10px;
}
