:root{
    --body-color:#efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
  
  }
.left-sidebar-view{
    flex-basis: 50%;
    position: sticky;
    z-index: 1;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 17px;
  
  }

.projectNameView{
  text-transform: uppercase;
  color: gray;
  text-align: center;
  font-size: 14px;
}  
.projectUser{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
   
}
.projectUser p {
  margin-top: 12px;
}
.dotOffline {
  height: 15px;
  width: 15px;
  background-color:#bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 32px;
  margin-right: 13px;
}
.dotOnline {
  height: 15px;
  width: 15px;
  background-color:lightgreen;
  border-radius: 50%;
  display: inline-block;
  margin-top: 32px;
  margin-right: 13px;
}
.projectDescription{
  text-align: center;
}

.leftProjectEdit{
  margin-top: 10px;
}
.middle-project-view{
  background-color: red;
  position: relative;
  bottom: 8px;
}




  