:root{
  --body-color:#efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;

}

.middle-cover{
  height: 60%;
  position: relative;
  width: 100%;

  /* position: sticky; */

  
  background: var(--portal_color);
  border-radius: 17px;
  padding: 50;
}

.middle-cover h4{
  position: relative;
  top: 40px;
  margin-bottom: 80px;
}

.middle-profile{
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 50px;  
 
  color: #626262;

}
/* form input{
  width: 100%;

} */

.content-row{
  position: relative;
  bottom: 60px; 
  bottom:max(190px, 10%);
  left:2%;
}
.content-data{
display: flex;
margin-bottom: 10px;
margin-right: 50px;
width: 80%;


}
.content-data p{
  flex-flow:row; 

  left: 110px;
}


.save-button{
  position: absolute;
  left: 280px;
}
.preview {
  position: absolute;

  
  display: flex;
  flex-direction: column;
  left: 10%;
  top: 110px;
 
  }
.image { max-width: 100%; max-height: 320 }
.delete{
  cursor: pointer;
  padding: 15;
  background:rgb(241, 241, 241);  
  color: black;
  border: none;
  height:48px;
  position: relative;
  top:49px;
}

.browse::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  
}
form{
  margin-bottom: 20px;
}
.browse::-webkit-file-upload-button {
  visibility: hidden;
}

.profilePhoto{
  margin-left: 30px;
  position: relative;
  top: 30px;
}


.projectUpload-profile{
  width: 70%;
  font-size: 14px;
  height: 40px;
  border-radius: 0px;
  position: relative;
  left: 21%;
  margin-top: 10px;
  background-color: #ec9b5e;
  
}

.projectUpload-profile::-webkit-file-upload-button {
  visibility: hidden;
}

.projectUpload-profile::before {
  content: 'Upload profile image';
  display: inline-block;



  padding-top: 3px;
  color: white;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}  

#submitProfilePicture{
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  left: 21%;
  right: 0px;
  width: 70%;
  bottom: 15  px;

}
.profileError{
  font-size: 14px;
  color: red;
  position: relative;
  top:10px;
  left: 35%;
}


