:root{
  --body-color:#efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;

}

.middle-cover{
  height: 500px;


  /* position: sticky; */

  
  background: var(--bg-color);
  border-radius: 17px;
  padding: 50;
}

.middle-cover h4{
  position: relative;
  top: 40px;
  margin-bottom: 80px;
}

.middle-profile{
  display: flex;
  justify-content: center;
  align-items: center;

  
 
  color: #626262;

}
form input{
  width: 100%;

}

.content-row{
  position: relative;
  bottom: 60px; 

}
.content-data{
display: flex;
margin-bottom: 10px;
margin-right: 50px;
width: 80%;


}
.content-data p{
  flex-flow:row; 

  left: 110px;
}

.content-data button{
  position: absolute;
  left: 100%;
  width: 30%;
}
.save-button{
  position: absolute;
  left: 280px;
}