.left-sidebar button{
    margin: 10px;
}
.project-root{
    text-align: center;
}

.project-main{
    position: relative;
    bottom: 20px;
    
}

.button-status{
    width: 50%;
}
.project-border{
    background-color: red;
}
.no-projects{
    height: 500px;
 
}

.no-projects p{
    position: relative;
    top: 40%;
}