.project-status-cover{
    text-align: center;
    padding: 20px;
    position: relative;
    height: 704px;
    width: 103%;
    right: 1.5%;
}
.backGroundImage{
    width: 80%;
    position:fixed;
    left: 10%;
    z-index: 0;
}
.project-status-cover .cover-image{
    background: var(--portal_color);  
    height: 600px;
    width: 100%;
    left: 0px;
    position: absolute;
    top:300px;
    z-index: 1;
}

.projectStatus-profiles{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 5%;
    
}
.projectStatus-profiles p {
    margin-left: 15px;
    margin-top: 15px;
}
.cover-image h4{
    color: gray;
    font-size: 16px;
}
