 .nav-icon-mid{
   
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.homeButton{
    margin-left: 20px;
    font-size: 22px;
    color:gray;
}

.projectButton{
    margin-left: 20px;
    width: 40px;
    margin-top: -10px;
    position: relative;
    bottom: -3px;
    left: 3px;
    background-color: gray;
}

.logo-name{
    color:#e63419;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 900;
}
.link-group p{
    font-size: 10px;
    margin:auto;
    width: 15%;
    color: var(--black_contrast);
}
.nav-middle{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    width: 15%;
}
.nav-link{
    text-decoration: none;
}

.photo-nav{
    margin-right: 20px;
}