.profile-pic-accept{
    margin: auto;
    width: 50%;
}

.projectJoinText{
    color: gray;
    font-weight: bold;
}

.side-name{
    position: relative;
    top: 5px;
  
}
.deleteButton-side{
    color: gray;
    display: block;
    margin: auto;
    height: 25px;
    cursor: pointer;
}
